.account-container{
  padding: 70px 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.account-content-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 80%;
}

.account-info-container{
  margin-bottom: 24px;
  width: 300px;
  margin-left: 150px;
}

.row-spacer{
  height: 2px;
  position: relative;
  width: 85%;
  letter-spacing: 1px;
  background-color: black;
  margin: 90px 0 90px 0;
}

.order-history{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.order-table{
  width: 100%;
  padding-top: 40px;
}

thead{
  width: 100%;
}

.order-table-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(128, 128, 128);
}




