.cart-count{
  animation: update 1.5s;
}

@keyframes update {
  0% {
    color: #e65400;
    text-shadow:
    0 0 5px rgb(255, 183, 75),
    0 0 10px rgb(255, 183, 75),
    0 0 20px rgb(255, 183, 75),
    0 0 40px rgb(238, 160, 43),
  }
  30% {
    color: #e65400;
    text-shadow:
    0 0 5px rgb(255, 183, 75),
    0 0 10px rgb(255, 183, 75),
    0 0 20px rgb(255, 183, 75),
    0 0 40px rgb(238, 160, 43),
  }
  100% { 
    color: black; 
    text-shadow: none;
  }
  
}

.cart-index-modal{
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: end;
  visibility: hidden;
  color: #3f5920;
  
}

.modal-visible{
  visibility: visible;
}

.cart-index {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  transform: translateX(100%);
  transition: transform 0.25s ease-out;
  z-index: 6;
  overflow-y: scroll;
}

.cart-visible{
  transform: translateX(0%);
}

.blurred-modal-area{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0);
  transition: background-color .25s ease-in-out;
  z-index: 1;
  visibility: hidden;
}

.blur-visible{
  visibility: visible;
  background-color: rgba(41, 41, 41, .83);
  z-index: 1;
}

//for closing the modal
.non-cart-area{
  width: 100%;
}

.close-cart-modal-button{
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 30px;
}

.cart-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-bottom: 2px solid #e65400;
  margin-bottom: 10px;
  width: 85%;
  text-align: center;
}

.checkout-container{
  padding-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-line{
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 6px;
}

.not-bold{
  font-weight: 500;
}

.checkout{
  width: 80%;
  margin-left: 0;
}

.cart-shop-now{
  margin-top: 10px;
  color: rgb(222,105,50);
  border: 2px solid  rgb(222,105,50);
  text-shadow: 1px solid rgba(255, 255, 255, 0.516);
  border-radius: 2px;
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  width: 200px;
}

.cart-shop-now:hover{
  background-color: rgb(222,105,50);
  color: #fff;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}