@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner{
  letter-spacing: 0.08em; 
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
}