footer{
  background-image: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/footer_background.jpg');
  height: 100%;
  background-size: cover;
}

.footer-content-container{
  padding: 30px 0 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footer-image-container{
  padding-top: 15px;
}

.footer-column-container{
  padding-top: 20px;
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  letter-spacing: .05em;
  font-family: 'Oswald';
  color: #494b44;
}

.one{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.one ul{
  list-style: none;
  
}

.one li{
  padding-bottom: 10px;
}

.two{
  height: auto;
}

p a{
  font-size: 26px;
  padding-left: 20px;
}

p a:first-of-type{
  padding-left: 0;
}

.two p{
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 16px;
}

.social-icons{
  display: inline-block;
  padding-top: 10px;
  height: 20px;
  width: 20px;
}

.three p{
  padding-left: 40px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #494b44;
}

.three div div {
  padding-left: 40px;
}

.newsletter-email{
  padding: 10px 15px 10px 15px;
  width: 40%;
  // margin-left: 40px;
  border: 1px solid #c9ccbc;
  border-radius: 2px;
  background-color: antiquewhite;
  font-weight: 300;
}

.newsletter{
  text-transform: uppercase;
  padding: 8px 8px 8px 8px;
  border: 2px solid #de6932;
  border-radius: 2px;
  white-space:nowrap;
  color:  #fff;
  background-color: #de6932;
  transition: all .3s ease;
  text-align: center;
  overflow: hidden;
  width: auto;
}

.newsletter:hover{
  color:  #de6932;
  background-color: antiquewhite;;
}

#footer-logo{
  width: 75px;
}

.margin-spacer{
  width: 90%;
  border-top: 2px solid #383a34;
  padding-bottom: 20px;
  margin-top: 30px;
}

.footer-address-blocks{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.block{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  border-left: 2px solid #383a34;
  font-family: 'Oswald';
  font-size: 12px;
  line-height: 1.375;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #494b44;
}

.footer-address-blocks div:first-of-type{
  border: none;
}

.align-right{
  white-space:nowrap;
  justify-content: end;
  text-align: right;
}

.align-left{
  justify-content: start;
  text-align: left;
}