header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

.layout-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-content{
  margin-left: 8px;
}

.banner{
  background-color: #ffb928;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 100%;
  padding: 8px 0 6px 0;
}

#main-logo{
  height: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo{
  height: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
  content: image-url('logo-dark.svg'); 
}

.select-none{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.header-container{
  padding-top: 20px;
  width: 50%;
  display: flex;
  justify-content: end;
  overflow: hidden;
}

.inline-block{
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: end;
}

.header-link{
  overflow: hidden;
}

.cart-count{
  overflow: hidden;
}

.header-link a{
  display: inline-block;
  overflow: hidden;
}

.search-container{
  display: flex;
  display: inline-block;
  position: relative;
  width: 50%;
  z-index: 10;
}

#search-input{
  background: #f9f6f1;
  border: 1px solid #e7dfd2;
  // border-bottom: 2px solid rgb(56, 58, 52);
  border-bottom: 2px solid  rgb(222,105,50);
  width: 100%;
  height: 42px;
  padding-left: 36px;
  text-align: left;
  font-size: 14px;
  border-radius: 2px;
}

#dropdown-container{
  width: 60%;
  position: absolute;
  top:8px;
  left: 10px;
  transition: transform 0.4s ease-out, opacity 0.2s ease-out;
  transform:scaleX(1);
  transform-origin:left;
  opacity: 1;
}

#dropdown-container.collapse-search{
  transform:scaleX(0);
  opacity: 0;
}

.search-icon{
  line-height: 20px;
  height: auto;
  z-index: 10;
}

.search{
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  overflow: visible;
  display: flex;
  z-index: 10;
  width: auto;
}

.auto{
  width: 20px;
}

// .search-container:hover #dropdown-container.collapse-search{
//   transform:scaleX(1);
//   opacity: 1;
// }

// .search-container:hover .hide{
//   transform:scaleY(1);
// }

// #dropdown-container:hover  .hide{
//   transform:scaleY(1);
// }

nav{
  min-height: 20px;
  border-top: 1px solid #e7dfd2;
  border-bottom: 1px solid #e7dfd2;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  line-height: 2;
}

nav ul a{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 14px;
  letter-spacing: .1em;
}

.sub_menu_panel-container{
  position: relative;
}

.sub_menu_panel:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49px;
}

.sub-menu-panel{
  background-color: rgb(56, 58, 52);
  position: absolute; 
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 45px;
  transition:transform 0.5s ease-out;
  transform:scaleY(1);
  transform-origin:top;
  z-index: 5;
}

.collapsed{
  transform:scaleY(0);
}

.toggle-menu{
  overflow: hidden;
}

.toggle-menu:after{
  content: "\f106";
  font: normal normal normal 14px/1 FontAwesome;
  text-align: center;
  vertical-align: middle;
}

.active:after{
  content: "\f107";
}

.visible{
  opacity: 1;
  position: absolute;
  overflow:hidden;
  animation: 1s ease-out 350ms normal both 1 fadein;
}
@keyframes fadein{
  0% { opacity:0; }
  100% { opacity:1; }
}

.hidden{
  opacity: 0;
}

.sub-menu-panel a{
  color: rgb(255, 255, 255);
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
}

.sub-menu-panel a:hover{
  transition: color 0.2s ease; 
  color: #de6932;
}




