header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
}

.layout-header{
  display: flex;
  justify-content: space-between;
}

.header-content{
  margin-left: 8px;
}

.banner{
  background-color: #ffb928;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 100%;
  padding: 8px 14px;
}

#main-logo{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/logo.png');
  height: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-container{
  padding-top: 10px;
  width: 140px;
  display: flex;
  justify-content: end;
}

.search{
  padding-left: 12px;
  height: 25px;
  width: 28px;
  overflow: visible;
  padding-top: 10px;
  margin-right: 107px;
  display: flex;
}

#search-icon{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/pngfind.com-magnifying-glass-png-no-1043692.png') / 'search icon';
  background-size: cover;
  margin-top: 0.1em
}

nav{
  min-height: 20px;
  border-top: 1px solid #e7dfd2;
  border-bottom: 1px solid #e7dfd2;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  line-height: 2;
}

/* temp */
nav ul a{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 16px;
}

.sub_menu_panel-container{
  position: relative;
}

.sub_menu_panel:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49px;
}

.sub-menu-panel{
  background-color: rgb(56, 58, 52);
  position: absolute;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 45px;
  transition:transform 0.5s ease-out;
  transform:scaleY(1);
  transform-origin:top;
}

.collapsed{
  transform:scaleY(0);
}

.visible{
  opacity: 1;
  position: absolute;
  overflow:hidden;
  animation: 1s ease .3s normal both 1 fadein;
}
@keyframes fadein{
  0% { opacity:0; }
  99% { opacity:.8; }
  100% { opacity:1; }
}

.hidden{
  opacity: 0;
}

.sub-menu-panel a{
  color: rgb(255, 255, 255);
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
}

.sub-menu-panel a:hover{
  transition: color 0.2s ease; 
  color: #de6932;
}




