.splash-container{
  display: flex;
  justify-content: center;
  min-height: 730px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.splash-photo{
  position: absolute;
  height: 100%;
  overflow: hidden;
  // width: 100%;
}

.splash-title-container{
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 475px;
}

.splash-title-photo{
  width: 100%;
  overflow: hidden;
}

.splash-title-text{
  padding: 10px 0 16px 0;
  width: 80%;
}


.splash-title-text p {
  color: rgb(235, 232, 232);
  text-shadow: 5px solid rgba(255, 255, 255, 0.516);
  font-family: 'Montserrat';
  line-height: 35px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.shop-now-button{
  color: #fff;
  border: 2px solid  #fff;
  text-shadow: 1px solid rgba(255, 255, 255, 0.516);
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  width: 200px;
}

.shop-now-button:hover{
  background-color: #fff;
  color: black;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}