.splash-container{
  display: flex;
  justify-content: center;
  min-height: 730px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.splash-photo{
  position: absolute;
  height: 100%;
  overflow: hidden;
  // width: 100%;
}

.splash-title-container{
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 475px;
}

.splash-title-photo{
  width: 100%;
  overflow: hidden;
}

.splash-title-text{
  padding: 10px 0 16px 0;
  width: 80%;
}


.splash-title-text p {
  color: rgb(235, 232, 232);
  text-shadow: 5px solid rgba(255, 255, 255, 0.516);
  font-family: 'Montserrat';
  line-height: 35px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.shop-now-button{
  color: #fff;
  border: 2px solid  #fff;
  text-shadow: 1px solid rgba(255, 255, 255, 0.516);
  line-height: 48px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  width: 200px;
}

.shop-now-button:hover{
  background-color: #fff;
  color: black;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.coffee-selection{
  display: flex;
  margin-top: 20px;
}

.coffee-selection-item{
  width: 100%;
  background-color: white;
  position: relative;
}

// Preload the :hover product images so they don't blink the first time they load
.coffee-selection:after {
  display: none;
}

.coffee-1{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/amparohead.webp');
  float: left;
  width: 100%;
  object-fit: cover;
}

.coffee-1-bag{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/amparocoff.webp');
  position: absolute;
  width: 100%;
}

.img1:hover .coffee-1{
  display: none;
}

.coffee-2{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/nubiahead.webp');
  float: left;
  width: 100%;
  object-fit: cover;
}

.coffee-2-bag{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/nubiacoff.webp');
  position: absolute;
  width: 100%;
}

.img2:hover .coffee-2{
  display: none;
}

.coffee-3{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/bedhatuhead.webp');
  float: left;
  width: 100%;
  object-fit: cover;
}

.coffee-3-bag{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/behatucoff.webp');
  position: absolute;
  width: 100%;
}

.img3:hover .coffee-3{
  display: none;
}

.blends-content{
  padding-top: 20px;
  max-height: 600px;
  display: flex;
  position: relative;
  justify-content: center;
  object-fit: cover;
}

.blends-photo{
  content: url('https://the-verve-seeds.s3.us-west-1.amazonaws.com/download+(7).webp');
  max-width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.blends-text{
  position: absolute;
  color: #fff;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blends-text .splash-title-text{
  width: 100%;
}

.blends-text .splash-title-text p{
  font-size: 32px;
  font-family: 'Oswald';
  font-weight: 300;
  // white-space:nowrap;
}

.blends-button{
  border: 1px solid #ffcc73;
  color: black;
  background-color: #fff;
  border-radius: 1px;
}

.blends-button:hover{
  background-color: #ffcc73;
}

.coffee-talk{
  margin-top: 20px;
  height: 500px;
  background-color: #7e876d;
  position: relative;
  display: flex;
  justify-content: center;
}

.coffee-talk p {
  width: 55%;
}

.coffee-talk .splash-title-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-icon i{
  padding-bottom: 8px;
  font-size: 60px;
}

.chat{
  top:20%;
}

