header {
  display: flex;
  justify-content: space-between;
}

.header-content{
  margin-left: 8px;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 100%;
  padding: 8px 14px;
}

#main-logo{
  content: image_url('logo.png');
  height: 45px;
  padding-top: 30px;
  padding-bottom: 10px;
}

input[type="submit"]  {
  cursor: pointer;
  margin: 0px 0px 20px 0px;
}

.session-button{
  color: #fff;
  background-color: #de6932;
  line-height: 48px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  width: 400px;
}

.session-button:hover{
  transition: color 0.2s ease; 
  border-color: #181819;
  background: #181819;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

label{
  margin-bottom: 4px;
}

a {
  margin-bottom: 15px;
  cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"] {
  background: #f9f6f1;
  border: 1px solid #e7dfd2;
  width: 400px;
  height: 48px;
  text-align: center;
  margin-bottom: 24px;
}

.session-form-container{
  padding-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.session-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.account-container{
  padding-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.session-error-list{
  height: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-content-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.account-info-container{
  margin-bottom: 24px;
  width: 300px;
  margin-left: 150px;
}

.logout{
  margin-top: 24px;
  width: 100%;
}

.demo-login-button{
  border-bottom: 1px dotted #cacacc;
}


.header-container{
  padding-top: 10px;
  width: 140px;
  display: flex;
  justify-content: end;
}

.search{
  padding-left: 12px;
  font-size: 24px;
  height: 20px;
  padding-top: 10px;
  margin-right: 107px;
  // text-align: left;
  display: block;
  // justify-content: start;
}


nav{
  min-height: 20px;
  border-top: 1px solid #e7dfd2;
  border-bottom: 1px solid #e7dfd2;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  line-height: 2;
}

/* temp */
nav ul li{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
nav ul li a{
  font-size: 16px;
}

/* give margin to the main-content class. the banner will fill the screen*/
/* maybe add margin to the header too. */