header {
  display: flex;
  justify-content: space-between;
}

.header-content{
  margin-left: 8px;
}

.banner{
  background-color: #ffb928;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 100%;
  padding: 8px 14px;
}

#main-logo{
  content: image_url('logo.png');
  height: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}




.header-container{
  padding-top: 10px;
  width: 140px;
  display: flex;
  justify-content: end;
}

.search{
  padding-left: 12px;
  font-size: 24px;
  height: 20px;
  padding-top: 10px;
  margin-right: 107px;
  // text-align: left;
  display: block;
  // justify-content: start;
}


nav{
  min-height: 20px;
  border-top: 1px solid #e7dfd2;
  border-bottom: 1px solid #e7dfd2;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  line-height: 2;
}

/* temp */
nav ul li{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 10px 0;
}
nav ul li a{
  font-size: 16px;
}

/* give margin to the main-content class. the banner will fill the screen*/
/* maybe add margin to the header too. */