.product-show-container{
  width: 100%;
  height: 100%;
  // min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-show-path-container{
  border-bottom: 1px solid #e7dfd2;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 10px 0;
}

.product-show-content{
  margin: 40px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows:  auto;
  gap: 15px;
  width: 80%;
}

.product-show-image{
  animation: fadeIn ease-out 1s;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.product-show-content-body{
  animation: fadeIn ease-out .5s;
  margin: 60px 20px 40px 40px;
  min-height: 60vh;
}

.product-show-image{
  width: 100%;
}

.product-show-location{
  padding-bottom: 8px;
}

.product-show-title{
  padding: 0px 0 8px 0;
}

.product-show-item-ingredients{
  font-size: 14px;
}

.product-show-stars{
  padding: 22px 0 5px 0;
}

.show-page-price{
  font-size: 22px;
  padding: 0 0 26px 0;
}

.product-show-description{
  padding: 0 0 20px 0;
} 
.product-show-description p{
  padding: 0 0 8px 0;
} 

.product-show-roast-level{
  padding: 0 0 20px 0;
} 

.roast-photo{
  width: 80%;
}
.product-show-farm-story{
  padding: 0 0 0 0;
} 

.num-ratings{
  text-decoration: underline;
  font-weight: 500;
}
