.product-show-container{
  width: 100%;
  height: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-show-path-container{
  border-bottom: 1px solid #e7dfd2;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 10px 0 ;
}

.product-show-content{
  margin: 40px 0 80px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows:  auto;
  gap: 15px;
  width: 85%;
}

.product-show-image{
  animation: fadeIn ease-out 1s;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.product-show-content-body{
  animation: fadeIn ease-out .5s;
  margin: 60px 40px 40px 40px;
  min-height: 900px;
}

.product-show-image{
  width: 100%;
}

.product-show-location{
  padding-bottom: 8px;
}

.product-show-title{
  padding: 0px 0 8px 0;
}

.product-show-item-ingredients{
  font-size: 14px;
}

.product-show-stars{
  padding: 22px 0 10px 0;
}

.show-page-price{
  font-size: 22px;
  padding: 0 0 22px 0;
}

.add-to-cart-form{

}

.quantity-add-container{
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0;
}

.quantity-add-container input[type="text"]{
  margin-bottom: 0px;
  width: 60px;
}

.add-cart-button{
  width: 50%;
  height: 50px;
  margin-left: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgb(222,105,50);
  transition: all .3s ease;
}



.add-cart-button:hover{
  background-color: #777a4d;
}


.show-page-description{
  padding: 0 0 0 0;
} 

