.product-index-container{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

.product-index-content-container{
  margin: 80px 0 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows:  auto;
  gap: 20px;
  // width: 95%;
  width: 85%;
  // grid-auto-rows: minmax(100px, auto);
}


.product-index-content-container{
  list-style: none;
}

.product-index-item-container{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

// testing for skeleton loading animation
.product-index-item-photo{
  animation: fadeIn ease-out 1s;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.product-index-item-photo:empty:after{
  height: 100%;
  width: 100%;
}

.product-index-item-photo{
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-index-item-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-index-item-container h4{
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.product-index-item-container h5{
  text-align: center;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

.product-index-img{
  width: 90%;
}

.product-index-item-ingredients{
  text-align: center;
  font-size: 11.5px;
  text-transform: uppercase;
  letter-spacing: .3;
  padding: 4px 0 4px 0;
}

.product-index-path-container{
  // display: flex;
  margin-top: 15px;
}

.product-index-path{
  font-family: 'Oswald';
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 12px;
  color: #636367;
  transition: color 0.2s ease;
  font-weight: 400;
  letter-spacing: .1em;
  display: inline-block;
  transform: scaleY(1.2);
  position: relative; 
  z-index: 0;
  vertical-align: top;
}

.product-index-path:hover{
  color: black;
}

.last{
  color: black;

}