.review-form{
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgba(176, 174, 174, 0.482);
  width: 70%;
}

.review-form label{
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

.leave-review-title{
  font-size: 26px;
}

.review-errors{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
  padding-bottom: 12px;
}

.review-errors li{
  list-style: none;
  color: rgb(167, 67, 49);
}

.review-form input[type="text"] {
  width: 65%;
  height: 48px;
  padding: 0 8px 0 8px;
  text-align: left;
  margin-bottom:0;
}

.review-form textarea{
  background: #f9f6f1;
  border: 1px solid #e7dfd2;
  padding: 8px 8px 8px 8px;
  width: 90%;
  height: 100px;
  resize: none;
}

.review-submit{
  margin: 20px 0 0 0 ;
  padding: 0 8px 0 8px;
  width: 40%;
}

.star-button {
  font-size: 20px;
  padding: 0 4px 0 4px;
}

.on {
  color: orange;
}
.off {
  color: #e7dfd2;
}